.profile__info {
  max-width: 336px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 294px 24px;
  align-items: baseline;
  margin-left: 30px;
}

@media screen and (max-width: 896px) {
  .profile__info {
    max-width: 217px;
    grid-template-columns: 1fr 24px;
    grid-template-rows: 40px;
  }
}