.header {
  padding: 45px 0 41px 0;
  border-bottom: 1px solid #545454;
  margin: 0 0 40px 0;
}

@media screen and (max-width: 896px) {
  .header {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 767px) {
    .header {
      padding-top: 28px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: 597px) {
      .header {
        padding-top: 28px;
        max-width: 282px;
        margin-left: auto;
        margin-right: auto;
      }