.cards {
  max-width: 880px;
  margin: 0 auto 60px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
  box-sizing: border-box;
}

@media screen and (max-width: 597px) {
  .cards {
    margin-top: 36px;
    margin-bottom: 48px;
  }
}