.form__title {
  width: 70%;
  margin: 0 0 54px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.21;
  color: #000;
  min-width: 320px;
}

@media screen and (max-width: 597px) {
  .form__title {
    font-size: 18px;
    line-height: 1.22;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}