.form__input {
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #000;
}

.form__input:not(:last-of-type) {
  margin-bottom: 30px;
}

.form__input:focus {
  outline: none;
}

.form__input::-webkit-input-placeholder {
  color: #000;
}

.form__input::-moz-placeholder {
  color: #000;
}

.form__input::-ms-input-placeholder {
  color: #000;
}

.form__input::placeholder {
  color: #000;
}

@media screen and (max-width: 597px) {
  .form-input {
    width: 238px;
  }

}