.profile__name-edit {
  background-image: url("../../../images/profile__name-edit.svg");
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #fff;
  background-position: center;
  margin-left: 18px;
  align-self: end;
  margin-bottom: 10px;
}

.profile__name-edit:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .profile__name-edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-bottom: 8px;
  }
}  

