.profile__name-edit {
  background-image: url("../../../images/profile__name-edit.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #fff;
  background-position: center;
  outline: none;
}

.profile__name-edit:focus {
  outline: none;
}


@media screen and (max-width: 767px) {
  .profile__name-edit {
    width: 18px;
    height: 18px;
  }
}

.profile__name-edit:hover {
  opacity: 0.6;
}