.card__desc {
  margin: 0 0 0 21px;
  padding: 23px 0 23px 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}