.card__like {
  background-image: url(../../../images/card__like.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  width: 22px;
  height: 19px;
  margin-top: 5px;
  margin-right: 20px;
}

.card__like:hover {
  opacity: 0.5;
}