.footer {
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 896px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 597px) {
  .footer {
    max-width: 282px;
    margin-bottom: 36px;
  }
}