.header {
  padding: 45px 0 41px 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 0 auto 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 896px) {
  .header {
    max-width: 580px;
  }
}

@media screen and (max-width: 597px) {
  .header {
    padding-top: 28px;
    max-width: 320px;
    padding-right: 19px;
    padding-left: 19px;
    padding-bottom: 31.6px;
  }
}